<h2>Todo:</h2>
<ul>
	<li>Fix html5mode 404
	<li>Implement testing for nodeJS
	<li>Create global header
	<li>Add user login
	<li>Add library basic access
	<li>Move css lint after bootstrap to stop warnings
	<li> ...
</ul>
<br>
<div class="container"><em>This is a sample Protractor test</em>
	<div class="row">Find User:<input ng-model="search"></div>
	<div class="row"><button ng-click="findUser()" id="searchUser">Search</button></div>
			<div class="row successMessage" ng-if="currentUser">
			<div class="col-md-4">{{currentUser.user}}</div>
			<div class="col-md-4">{{currentUser.firstname}}</div>
			<div class="col-md-4">{{currentUser.lastname}}</div>
		</div>
		<div class="row errorMessage" ng-style="errorClass()">
			<h3>Error:</h3>{{errorMessage}}
		</div>
	</div>
</div>
